<a href="https://colab.research.google.com/github/VaibhavChavan049/GitHubJava-ProjectRepository/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list1 = [1,5,8,5,6,54,'Data', 45, 5,7,4,1, 'Data', 2,5,4, 'Data', 8, 6]
print(list1)
list2=list1.copy()
print(list2)
list3=list1
print(list3)

[1, 5, 8, 5, 6, 54, 'Data', 45, 5, 7, 4, 1, 'Data', 2, 5, 4, 'Data', 8, 6]
[1, 5, 8, 5, 6, 54, 'Data', 45, 5, 7, 4, 1, 'Data', 2, 5, 4, 'Data', 8, 6]
[1, 5, 8, 5, 6, 54, 'Data', 45, 5, 7, 4, 1, 'Data', 2, 5, 4, 'Data', 8, 6]

In [ ]:
list1 = [1,5,8,5,6,54,'Data', 45, 5,7,4,1, 'Data', 2,5,4, 'Data', 8, 6]
print(list1)
list2=('The address of list1 is', id(list1))
list2=list1.copy()
print(list2)
list2=('The address of list2 is', id(list2))
list3=list1
print(list3)
list3=('The address of list3 is', id(list3))

In [2]:
list1.clear()
print(list1)

[]

In [3]:
print(list2)

[1, 5, 8, 5, 6, 54, 'Data', 45, 5, 7, 4, 1, 'Data', 2, 5, 4, 'Data', 8, 6]

In [4]:
print(list3)

[]

In [6]:
list1 = [1,2,3,4,5]
print(list1)
list1[3] = 34
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 34, 5]

**Tuple Data Structure**

In [7]:
tup1 = (5,2,4,78.2, 7.1, True, False, 5j, 7+    1j, 'Data', 'Scienece')
print(tup1)

(5, 2, 4, 78.2, 7.1, True, False, 5j, (7+1j), 'Data', 'Scienece')

In [8]:
tup1[3]

78.2

In [24]:
tup1[3]=9.1

AttributeError: 'tuple' object has no attribute 'add'

In [10]:
tup1=(4,5,2,1,8,6,5,7,4,2,5,4, 'Python', 5,5,8,52,5,8,8,8, 'Data ,1,1,4,465,4')
tup1.index(Python)

12

In [12]:
tup1.count(5)

6

In [13]:
tup1.count(2)

2

In [14]:
tup1 = (8)
print(tup1)
print(type(tup1))
print('-----------')
tup1 = (8,)
print(tup1)
print(type(tup1))

8
<class 'int'>
-----------
(8,)
<class 'tuple'>

In [15]:
tup1=1,4,5,2,3
print(tup1)
print(tup1*5)

(1, 4, 5, 2, 3)
(1, 4, 5, 2, 3, 1, 4, 5, 2, 3, 1, 4, 5, 2, 3, 1, 4, 5, 2, 3, 1, 4, 5, 2, 3)

In [16]:
tup1 = (2,5,1,4,5,4)
tup2 = (5,8,6,3,2,4)
tup3 = tup1+tup2
print(tup1)
print(tup2)
print(tup3)

(2, 5, 1, 4, 5, 4)
(5, 8, 6, 3, 2, 4)
(2, 5, 1, 4, 5, 4, 5, 8, 6, 3, 2, 4)

**# Dictionary Data Structure**

In [18]:
dic1 = {'Name' : 'ExcelR','Floor':3, 'classroom':'Einstein', 'Room No': 3, 'Building':'safe plaza',
        'Area':'BTM Layout', 'Name': 'ExcelR Edtech' }
dic1

{'Name': 'ExcelR Edtech',
 'Floor': 3,
 'classroom': 'Einstein',
 'Room No': 3,
 'Building': 'safe plaza',
 'Area': 'BTM Layout'}

In [19]:
dic1['Building']

'safe plaza'

In [20]:
dic1['Name']

'ExcelR Edtech'

In [21]:
dic1[3]

KeyError: 3

In [25]:
dic1.keys()

dict_keys(['Name', 'Floor', 'classroom', 'Room No', 'Building', 'Area'])

In [26]:
dic1.values()

dict_values(['ExcelR Edtech', 3, 'Einstein', 3, 'safe plaza', 'BTM Layout'])

In [27]:
dic1.items()

dict_items([('Name', 'ExcelR Edtech'), ('Floor', 3), ('classroom', 'Einstein'), ('Room No', 3), ('Building', 'safe plaza'), ('Area', 'BTM Layout')])

In [30]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
dic2 = {'List1': list(range(10)), 'List2': list(range(8)),
        'Tup1' : tuple(range(5)), 'Dic3' : {'Student1' : 'Neha', 'Student2' : 'Akash'}}
dic2

{'List1': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 'List2': [0, 1, 2, 3, 4, 5, 6, 7],
 'Tup1': (0, 1, 2, 3, 4),
 'Dic3': {'Student1': 'Neha', 'Student2': 'Akash'}}

In [33]:
dic1 = {'Name' : 'ExcelR','Floor':3, 'classroom':'Einstein', 'Room No': 3, 'Building':'safe plaza',
        'Area':'BTM Layout', 'Name': 'ExcelR Edtech' }
print(dic1)
dic1.popitem()
print(dic1)

{'Name': 'ExcelR Edtech', 'Floor': 3, 'classroom': 'Einstein', 'Room No': 3, 'Building': 'safe plaza', 'Area': 'BTM Layout'}
{'Name': 'ExcelR Edtech', 'Floor': 3, 'classroom': 'Einstein', 'Room No': 3, 'Building': 'safe plaza'}

In [35]:
print(dic1)
dic1['Classroom']='Aryabhatta'
print(dic1)

{'Name': 'ExcelR Edtech', 'Floor': 3, 'classroom': 'Einstein', 'Room No': 3, 'Building': 'safe plaza'}
{'Name': 'ExcelR Edtech', 'Floor': 3, 'classroom': 'Einstein', 'Room No': 3, 'Building': 'safe plaza', 'Classroom': 'Aryabhatta'}

In [38]:
dic1 = {'Name' : 'ExcelR','Floor':3, 'classroom':'Einstein', 'Room No': 3, 'Building':'safe plaza',
        'Area':'BTM Layout', 'Name': 'ExcelR Edtech' }
print(dic1)
dic2= {'City' : 'Banglore', 'Zipcode' : 560068}
print(dic2)
dic1.update(dic2)
print(dic1)

{'Name': 'ExcelR Edtech', 'Floor': 3, 'classroom': 'Einstein', 'Room No': 3, 'Building': 'safe plaza', 'Area': 'BTM Layout'}
{'City': 'Banglore', 'Zipcode': 560068}
{'Name': 'ExcelR Edtech', 'Floor': 3, 'classroom': 'Einstein', 'Room No': 3, 'Building': 'safe plaza', 'Area': 'BTM Layout', 'City': 'Banglore', 'Zipcode': 560068}

In [42]:
dic1={'Name' : 'ExcelR','Floor':3, 'classroom':'Einstein', 'Room No': 3, 'Building':'safe plaza',
        'Area':'BTM Layout' }
print(dic1)
dic1.setdefault('Floor',4)
print(dic1)
dic1.setdefault('State', 'Karnataka')
print(dic1)

{'Name': 'ExcelR', 'Floor': 3, 'classroom': 'Einstein', 'Room No': 3, 'Building': 'safe plaza', 'Area': 'BTM Layout'}
{'Name': 'ExcelR', 'Floor': 3, 'classroom': 'Einstein', 'Room No': 3, 'Building': 'safe plaza', 'Area': 'BTM Layout', 'Foor': 4}
{'Name': 'ExcelR', 'Floor': 3, 'classroom': 'Einstein', 'Room No': 3, 'Building': 'safe plaza', 'Area': 'BTM Layout', 'Foor': 4, 'State': 'Karnataka'}

In [ ]:
#After 'Building' key and before 'Area', add another key: value pair as shown: 'Landmark' : 'opp Tata Motors'

In [44]:
dic1={'Building':'safe plaza','Landmark': 'Opp Tata Motors',
        'Area':'BTM Layout' }
print(dic1)
dic1.setdefault('Floor',4)
print(dic1)
dic1.setdefault('State', 'Karnataka')
print(dic1)

{'Building': 'safe plaza', 'Landmark': 'Opp Tata Motors', 'Area': 'BTM Layout'}